.App {
  text-align: center;
  
}

@import url(https://fonts.googleapis.com/css?family=Kavoon);
@import url(https://unpkg.com/spectre.css/dist/spectre.min.css);
@import url(https://unpkg.com/spectre.css/dist/spectre-exp.min.css);
@import url(https://unpkg.com/spectre.css/dist/spectre-icons.min.css);
body {
  background-image: url("http://localhost:3000/bgBlue.jpg");
  background-repeat: repeat;
  /* background-color: #496396; */
  font-family: Kavoon;
  font-size: 24px;
}

.container {
  max-width: 320px;
  margin: auto;
  touch-action: none;
  color:black;
}


.col-4 {
  min-height: 90px;
  z-index: 1;
}
header{
  text-align: center;
}
span#score {
  text-align: center;
  font-size: 2rem;
  color: white;
  border-radius: 21px;
  background-color: #f4d03f;
  box-shadow: 4px 4px 4px black;
  padding: 6px 12px;
}

span#time {
  text-align: center;
  font-size: 2rem;
}

button {
  display: block;
  width: 100%;
  font-family: Kavoon;
  font-size: 24px;
  background-color: white;
  padding: 9px;
  border-radius: 10px;
  border-width: 0;
}

[alt="Grandma"] {
  display: block;
}

span{
  text-align: center;
}
 .noselect{
  -webkit-user-drag:none;
 }